*.DS_Store
*.sw?
.#*
*#
*~
.classpath
.project
.settings
bin
build
target
dependency-reduced-pom.xml
*.sublime-*
/scratch
.gradle
README.html
*.iml
.idea
.travis.yml
CONTRIBUTING.adoc
LICENSE.code.txt
LICENSE.writing.txt
README.adoc
initial/bin/*
initial/gradle/wrapper/*
initial/target/*
initial/.*
initial/build.gradle
initial/gradle*
initial/settings.gradle
initial/mvn*
initial/*.mp3